body{
	background-color:#f6f6f6;
}

.foco-pagina {
    text-align: center;
    padding-top: 60px;
}

.alerta {
    padding: 8px;
    color: #b82020;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 8px;
  }

  .row{
      --bs-gutter-x:0rem !important;
  }
